/* Zugriff auf ein HTML Tag */
body {
	background-color: blue;
}

/* Zugriff auf eine Klasse */
.class {
	font-weight: bold;
}

/* Zugriff auf eine ID */
#id {
	color: red;
}

/* Zugriff auf eine Pseudoklasse */
#id:nth-child(@number*3-2) {
	color: blue;
}